body {
margin: 0;
padding: 0;
overflow: hidden;

background-color: rgba(58, 45, 75, 1);
background-size:95%; 
background-image: url(/images/BGimg_1stpage.png);
background-repeat: no-repeat; 
background-attachment: fixed; 
/* background-position-y: -10px; */
background-position-x: 25px;

}
/* .BG{
  width: 95%;
  top: -500px;
  z-index: 2;

} */

.iconbar
{
  position: fixed;
bottom: 0;
width: 100%;
display: flex;
justify-content: space-around;
align-items: center;
height: 60px;
}

.hidden {
  opacity: 0;
  /* background-image: url(''); */
  background-color: rgba(58, 45, 75, 1);
}

.comfirmimg {
  width: 100%;
  cursor: pointer;
  transition: transform 0.3s ease; 
}

.comfirmimg.clicked {
  transform: scale(0.9); 
}

.comfirmimg img {
  max-width: 100%;
  height: auto;}
