* {
  box-sizing: border-box;
}
body {
  background-color: rgba(58, 45, 75, 1);
  font-family: 'Kanit', sans-serif;
/*font-family: 'Roboto', sans-serif;*/
text-align: center;
overflow: hidden;
transition: opacity 1s ease-in-out;
}
.v3_29 {
  width: 834px; 
  height: 1194px; 
  background: rgba(58, 45, 75, 1); /* สีพื้นหลังของแอปของคุณ */
  background-image: url('./SiamPiwat/allBG.png');
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
  /* เพิ่มคุณสมบัติที่เกี่ยวข้องกับ iPad Pro 11 */
  max-width: 120%; 
  max-height: 120%; 
  width: 120%;
} 
.hidden {
  opacity: 0;
}
.v3_43 {
  width: 572px;
  height: 111px;
  text-align: center;
  margin-top: 250px;
}

.v3_50 {
  width: 122px;
  height: 110px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 337px;
}
.v3_52 {
  width: 373px;
  height: 79px;
  background: url("../images/v3_52.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 864px;
  left: 229px;
  overflow: hidden;
}
.v3_53 {
  width: 373px;
  height: 79px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 43px;
  border-top-right-radius: 43px;
  border-bottom-left-radius: 43px;
  border-bottom-right-radius: 43px;
  
}
.v3_54 {
  width: 364px;
  color: rgba(23,23,23,1);
  position: absolute;
  top: 19px;
  left: 3px;
  font-family: 'Kanit', sans-serif;
  font-weight: Bold;
  font-size: 34px;
  opacity: 1;
  text-align: center;
}

.v3_58 {
  width: 587px;
  color: rgba(242,242,242,1);
  position: absolute;
  top: 597px;
  left: 122px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}



