@font-face {

  font-family: 'DBonUma'; 
  src: url('./DBonUma/DB OnUma Med v3.2.ttf') format('truetype');
}
* {
  box-sizing: border-box;
}
body {
  background-color:#3A2D4B;
  font-family: 'DBonUma';
  overflow: hidden;
  }

.imghlab {
  width: 40%;
  text-align: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
  }

.choosing {
  box-shadow: 0 0 10px 3px #ffffff7a;
  border-radius: 21px;
}

.choosecolor {
   color: rgba(242,242,242,1);
  text-align: center;
  font-size: 1.8em;
  margin: 10px 10px ;
}
.choosecolor2 {
  width: 587px;
  color: rgba(242,242,242,1);
  position: initial;
  top: 240px;
  left: 123px;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
  border-color: aqua;
}
.choosecolor3 {
  width: 587px;
  color: rgba(242,242,242,1);
  position: initial;
  top: 590px;
  left: 123px;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
  border-color: aqua;
}
.choosecolor4 {
  width: 587px;
  color: rgba(242,242,242,1);
  position: initial;
  top: 920px;
  left: 123px;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
  border-color: aqua;
}



.square-image {
  width: 95px; 
  height: 95px;  
  margin: 4.5px; 
  display: inline-flex;


}
.square-imagediv {
  display: flex;
  margin-top: 2vh;    

}
 .square-image2 {
  width: 70px; 
  height: 70px;  
  margin: 10px; 
  display: inline-flex;
  margin-bottom: 2vh;


} 
.directionresult {
  display: flex;
}
.ani-image1 {
  width: 100%; 
  /* height: 95px;   */ 
  display: inline-flex;
  clip-path: inset(0 round 10px);

}
.ani-imagediv1 {
  /* display: flex; */
  position: initial;
  top: 995px;
  left: 0px;
  text-align: center;border-radius: 10px;

}
.ani-image2 {
  width: 100%; 
  /* height: 95px;   */ 
  display: inline-flex;
  clip-path: inset(0 round 10px);

}
.ani-imagediv2 {
  /* display: flex; */
  position: initial;
  top: 990px;
  right: 0px;
  text-align: center;border-radius: 10px;

}

.v3_95 {
  width: 587px;
  color: rgba(103,102,102,1);
  position: initial;
  top: 480px;
  left: 123px;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
 
}
.v3_281 {
  
  color: rgba(103,102,102,1);
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
  /* margin-top: 10vh; */
}
.random {
  width: 587px;
  color: rgb(255, 255, 255);
  position: initial;
  top: 1090px;
  left: 123px;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
  text-decoration: underline;
  letter-spacing: 1px;
}
.container {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.slow, .fast {
  color: rgb(255, 255, 255);
  font-weight: Regular;
  font-size: 25px;
  width: 50%; 
  float: left;
}

.slow {
  text-align: left;
   
}

.fast {
  text-align: right;
}
.v3_202 {
  color: rgba(103,102,102,1);
  margin-bottom: 1vh;
  margin-top: 2vh;
  text-align: center;
}
.v3_59 {
  margin-top: 2vh;
  margin-bottom: 2vh;
  width: 95%;
  margin: auto;
  padding: 30px 0;
}

.maininput{
  width: 80%;
  margin: auto;
}
.button-container {
  
 
  /* grid-template-columns: repeat(4, 178px);
  grid-template-rows: repeat(2, 50px);
  grid-template-rows: repeat(1, 50px) 60px 70px;
  gap: 30px; */
  
  
}

.button {
  /* width: 200px;
  height: 50px;
  opacity: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; */
  padding: 5px 5px;

}



/* hr{
  width: 100%;
 }   */

 
 .v3_52 {
  width: 373px;
  height: 79px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: initial;
  top: 1190px;
  left: 229px;
  overflow: hidden;
}
.v3_53 {
  width: 373px;
  height: 79px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: initial;
  top: 0px;
  left: 0px;
  border-top-left-radius: 43px;
  border-top-right-radius: 43px;
  border-bottom-left-radius: 43px;
  border-bottom-right-radius: 43px;
  
}
.v3_54 {
  width: 364px;
  color: rgba(23,23,23,1);
  position: initial;
  top: 19px;
  left: 3px;
  font-weight: Bold;
  font-size: 34px;
  opacity: 1;
  text-align: center;
}
   .hidden {
  opacity: 0;
}

.comfirmimg{
  margin-top: 1vh;

}

.iconbar
{
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  text-align: center;
  /* margin-left: 0; */
  /* margin-right: auto; */
} 



 */

 
 
 main {
   display: flex;
   flex-direction: column;
   gap: 2.2em;
   padding: 1em 0;
 }
 

 
 /* === range theme and appearance === */
 input[type="range"] {
  margin-top: 3vh;
   font-size: 1.5rem;
   width: 12.5em;
 } 
 
 input[type="range"] {
   color: rgba(242, 242, 242, 1);
   --thumb-height: 1.125em;
   --track-height: 0.125em;
   --track-color: rgba(162, 132, 72, 1);
   --brightness-hover: 180%;
   --brightness-down: 80%;
   --clip-edges: 0.125em;
   width: 100%;
 }
 
 /* input[type="range"].win10-thumb {
   color: #2b2d42;
 
   --thumb-height: 1.375em;
   --thumb-width: 0.5em;
   --clip-edges: 0.0125em;
 } */
 
 
 
 input[type="range"] {
   position: relative;
   background: #fff0;
   overflow: hidden;
 }
 
 input[type="range"]:active {
   cursor: grabbing;
 }
 
 input[type="range"]:disabled {
   filter: grayscale(1);
   opacity: 0.3;
   cursor: not-allowed;
 }
 
 /* === WebKit specific styles === */
 input[type="range"],
 input[type="range"]::-webkit-slider-runnable-track,
 input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none;
   transition: all ease 100ms;
   height: var(--thumb-height);
 }
 
 input[type="range"]::-webkit-slider-runnable-track,
 input[type="range"]::-webkit-slider-thumb {
   position: relative;
 }
 
 input[type="range"]::-webkit-slider-thumb {
   --thumb-radius: calc((var(--thumb-height) * 0.5) - 1px);
   --clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px);
   --clip-bottom: calc(var(--thumb-height) - var(--clip-top));
   --clip-further: calc(100% + 1px);
   --box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0
     100vmax currentColor;
 
   width: var(--thumb-width, var(--thumb-height));
   background: linear-gradient(currentColor 0 0) scroll no-repeat left center /
     50% calc(var(--track-height) + 1px);
     background: rgba(162, 132, 72, 1);
     border: 4px solid rgba(242, 242, 242, 1);
   box-shadow: var(--box-fill);
   border-radius: var(--thumb-width, var(--thumb-height));
 
   filter: brightness(100%);
   clip-path: polygon(
     100% -1px,
     var(--clip-edges) -1px,
     0 var(--clip-top),
     -100vmax var(--clip-top),
     -100vmax var(--clip-bottom),
     0 var(--clip-bottom),
     var(--clip-edges) 100%,
     var(--clip-further) var(--clip-further)
   );
 }
 
 input[type="range"]:hover::-webkit-slider-thumb {
   filter: brightness(var(--brightness-hover));
   cursor: grab;
 }
 
 input[type="range"]:active::-webkit-slider-thumb {
   filter: brightness(var(--brightness-down));
   cursor: grabbing;
 }
 
 input[type="range"]::-webkit-slider-runnable-track {
   background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center /
     100% calc(var(--track-height) + 1px);
 }
 
 input[type="range"]:disabled::-webkit-slider-thumb {
   cursor: not-allowed;
 }


