* {
  box-sizing: border-box;
}
body {
  background-color:#3A2D4B;
  font-family: 'Kanit', sans-serif;
  /*font-family: 'Roboto', sans-serif;*/
  /* text-align: center; */
  overflow: hidden;
  }

.imghlab {
  width: 40%;
  text-align: center;
  margin-top: 4vh;
  margin-bottom: 4vh;
  }

.choosecolor {
   color: rgba(242,242,242,1);
  text-align: center;
  font-size: 1.5em;
  margin: 10px 10px ;
}
.choosecolor2 {
  width: 587px;
  color: rgba(242,242,242,1);
  position: initial;
  top: 240px;
  left: 123px;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
  border-color: aqua;
}
.choosecolor3 {
  width: 587px;
  color: rgba(242,242,242,1);
  position: initial;
  top: 590px;
  left: 123px;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
  border-color: aqua;
}
.choosecolor4 {
  width: 587px;
  color: rgba(242,242,242,1);
  position: initial;
  top: 920px;
  left: 123px;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
  border-color: aqua;
}



.square-image {
  width: 95px; 
  height: 95px;  
  margin: 4.5px; 
  display: inline-flex;


}
.square-imagediv {
  display: flex;
  margin-top: 2vh;    

}
 .square-image2 {
  width: 70px; 
  height: 70px;  
  margin: 10px; 
  display: inline-flex;
  margin-bottom: 2vh;


} 
.directionresult {
  display: flex;
}
.ani-image1 {
  width: 100%; 
  /* height: 95px;   */ 
  display: inline-flex;
  clip-path: inset(0 round 10px);

}
.ani-imagediv1 {
  /* display: flex; */
  position: initial;
  top: 995px;
  left: 0px;
  text-align: center;border-radius: 10px;

}
.ani-image2 {
  width: 100%; 
  /* height: 95px;   */ 
  display: inline-flex;
  clip-path: inset(0 round 10px);

}
.ani-imagediv2 {
  /* display: flex; */
  position: initial;
  top: 990px;
  right: 0px;
  text-align: center;border-radius: 10px;

}

.v3_95 {
  width: 587px;
  color: rgba(103,102,102,1);
  position: initial;
  top: 480px;
  left: 123px;
  font-family: 'Kanit', sans-serif;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v3_281 {
  
  color: rgba(103,102,102,1);
  font-family: 'Kanit', sans-serif;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
  /* margin-top: 10vh; */
}
.random {
  width: 587px;
  color: rgb(255, 255, 255);
  position: initial;
  top: 1090px;
  left: 123px;
  font-family: 'Kanit', sans-serif;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
  text-decoration: underline;
  letter-spacing: 1px;
}
.container {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.slow, .fast {
  color: rgb(255, 255, 255);
  font-family: 'Kanit', sans-serif;
  font-weight: Regular;
  font-size: 16px;
  
}

.slow {
  text-align: left;
}

.fast {
  text-align: right;
}
.v3_202 {
  color: rgba(103,102,102,1);
  margin-bottom: 1vh;
  margin-top: 2vh;
  text-align: center;
}
.v3_59 {
  margin-top: 2vh;
  margin-bottom: 3vh;
}

.button-container {
  
  display: grid;
  grid-template-columns: repeat(4, 178px);
  grid-template-rows: repeat(2, 50px);
  grid-template-rows: repeat(1, 50px) 60px 70px;
  gap: 30px;
  
  
}

.button {
  width: 200px;
  height: 50px;
  opacity: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-family: 'Kanit', sans-serif; */

}



.range {
  display: flex;
  width: 100%; 
}

.range__slider {
  width: 100%;
  
}

 /* hr{
  width: 50vh;
 }  */

/* .form-group {
  display: flex;
  flex-direction: column; 
  justify-content: center;
} */

/* .form-group label {
  text-transform: uppercase;
  font-size: .7rem;
  color: #dc0303;
  margin-bottom: 5px;
}

.form-group span {
  font-size: 2rem;
  font-weight: 600;
  color: #3c3b3b;
} */

/* .range__slider label {
  margin-bottom: 2%;
} */

.range__slider [type="range"] {
  width: 100%;
  -webkit-appearance: none;
  height: 4px;
  border-radius: 6px;
  
}

.range__slider [type="range"]::-moz-range-thumb:hover {
  background: white;
}

 
.slider {
   margin-top: 3vh;
    
} 

.slider input[type="range"]::-webkit-slider-thumb {
   	-webkit-appearance: none !important;
    width: 30px;
    height:30px;
    background: rgba(162, 132, 72, 1);
    border: 4px solid rgb(255, 255, 255);
    border-radius: 50%; 
    cursor: pointer;
} 
 .v3_52 {
  width: 373px;
  height: 79px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: initial;
  top: 1190px;
  left: 229px;
  overflow: hidden;
}
.v3_53 {
  width: 373px;
  height: 79px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: initial;
  top: 0px;
  left: 0px;
  border-top-left-radius: 43px;
  border-top-right-radius: 43px;
  border-bottom-left-radius: 43px;
  border-bottom-right-radius: 43px;
  
}
.v3_54 {
  width: 364px;
  color: rgba(23,23,23,1);
  position: initial;
  top: 19px;
  left: 3px;
  font-family: 'Kanit', sans-serif;
  font-weight: Bold;
  font-size: 34px;
  opacity: 1;
  text-align: center;
}
   .hidden {
  opacity: 0;
}

.comfirmimg{
  margin-top: 3vh;

}

.iconbar
{
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  /* margin-left: 0; */
  /* margin-right: auto; */
} 



